# Dependencies
node_modules/
backend/__pycache__/
frontend/node_modules/
frontend/dist/

# Python
*.pyc
__pycache__/
.venv/
venv/
env/

# Databases
# clinic.db (Optional: comment out if you want to push your local database)
# clinic.db

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
